header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: darkslategrey;
}

header a {
  margin: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.links {
  margin: 20px;
}

.logo-img {
  width: 60%;
  margin-top: -11px;
}

footer {
  height: 60px;
  background-color: darkslategrey;
}

.personal-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.personal-information a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fff;
}

.rsschool img{
  width: 100%;
  height: 20px;
}

.mp-description {
  margin: 0 auto;
  padding: 50px;
  font-family: Forum;
  color: #000;
  width: 30%;
  height: 150px;
}

h1 {
  font-family: Forum;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(12, 184, 169);
  text-align: center;
  text-transform: uppercase;
}

.mp-title {
  color: rgb(10, 78, 73);
}

.mp-text {
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: justify;
}

.mp-detail,
.login {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(7, 104, 99, 0.4);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.login {
  margin: 0.5rem;
  padding: 10px 20px;
  background-color: rgba(16, 230, 219, 0.4);
}

.login:hover,
.login:active,
.mp-detail:active,
.mp-detail:hover {
  border: 1px solid rgba(109, 243, 236, 0.4);
  background-color: rgb(7, 104, 99);
}

.burger-menu {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 18px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }

  .menubox {
    display: block;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    top: 60px;
    right: 100%;
    width: 300px;
    height: calc(100% - 210px);
    margin: 0;
    padding: 45px 0;
    list-style: none;
    background-color: rgb(18, 109, 104);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu-item {
    display: block;
    padding: 25px 24px 24px 50px;
    left: 95px;
    top: 310px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background: url(./../../../assets/svg/arrow-burger.svg) no-repeat;
    background-position: 19px 28px;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu-item:hover {
    background-color: #CFD8DC;
  }

  #menu-toggle{
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }

  .mp-description {
    width: 45%;
  }

  .personal-information a {
    font-size: 0.8rem;
  }
}
