.main-games-wrapper {
  min-height: calc(100vh - 230px);
  padding: 50px 20px;
  background-color: var(--bg-dark);
  background-image: url(./../../../assets/img/bg-map.png);
  background-size: cover;
}

.main-games-wrapper h1 {
  color: #ffc86d;
}

.wrapper-games {
  display: flex;
  padding-top: 80px;
  justify-content: space-around;
  align-items: flex-start;
}

.wrapper-games-savannah,
.wrapper-games-audiocall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games-mark {
  position: relative;
  display: block;
  height: 185px;
  width: 150px;
}

.games-mark-bg {
  display: block;
  background: url(./../../../assets/vocabulary/vector.png) no-repeat;
  background-size: cover;
  width: 103px;
  height: 125px;
  position: relative;
  margin: 0px auto 10px;
}

.games-mark-img,
.games-mark-img {
  display: block;
  z-index: 0;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  top: 8px;
  left: 30px;
}

.wrapper-games-savannah .games-mark-img {
  background: url(./../../../assets/vocabulary/icon-2.png) no-repeat;
  background-size: cover;
}

.wrapper-games-audiocall .games-mark-img {
  background: url(./../../../assets/vocabulary/icon-4.jpg) no-repeat;
  background-size: cover;
}

.games-mark-name {
  font-family: Forum;
  font-size: 2rem;
  color: #ffc86d;
  text-align: center;
  position: absolute;
  align-self: center;
  transition: 0.6s;
}

.games-mark-savanah .games-mark-name {
  left: 25px;
}

.games-mark:hover .games-mark-name {
  color: var(--font-color-green);
}
.games-description {
  font-size: 1.2rem;
  width: 300px;
  padding: 0 7px;
  color: var(--font-color-light);
  text-align: justify;
}

@media (max-width: 640px) {
  .main-games-wrapper {
    min-height: calc(100vh - 358px);
  }

  .wrapper-games {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .wrapper-games-savannah {
    margin-bottom: 25px;
  }
}